body{
    font-family: 'Tilt Neon', sans-serif;
   
}
.image{
    background-image: url(../img/bg3.jpg);
    background-size:cover;
    height: 100vh !important;
    width: 100% !important;
    position: relative;
    bottom: 47px;
    background-color: #002966;
  
}
.buttons{
    background-color: orange !important;
    height: 73px !important;
}
.vertical{
    width: 1px !important;
    height: 56px !important;
    color: white;
    border: 1px solid orange;
    position: relative;
    bottom: 77px;
    left: 262px;
}
.more{
    position: relative;
    top: 19px;
}
.spring {
    position: absolute;
    left: 71px;
}
.round{
    position: absolute;
    right: 0px;
    top: 361px;
}
.roundd{
    position: absolute;
    right: 0px;
    top: 437px;
}
.rounddd{
    position: absolute;
    right: 0px;
    top: 511px;
}
.cont{
    position: relative;
    left: 167px;
    bottom: 49px;
    font-size: 25px;

}
.spring1{
    position: absolute;
    left: 103px;
}
.contt{
    font-size: 18px !important;
}
.image-overlay{
    background-color:rgba(12, 4, 82, 0.308)!important;
    height: 100vh !important;
    width: 100% !important; 
}
.nav-link:hover{
color:orange !important;
}
.nav-link{
   
    color:#151b54 !important;
    font-size: 20px !important;
}
.paraa{
    position: relative;
    top:4px; 
}
.para{
    background-color: orange;
    height:40px;
}
.bg-logo{
    border:1px solid white;
    height: 60px;
    width: 66px;
    position: relative;
    bottom: 13px;
   
}
.container{
    background-color: #151b54;
    height: 75px;
    width: 1050px;
}

.parag{
    width: 51% !important;
}

    .box {
        height: 135px;
        width: 241px;
        background-color: white;
        border:2px solid orange;
        border-radius: 3px;
        
     
}
.box1{
    background-color:#151b54;
    height: 101px;
    width: 139px;
    position: relative;
    bottom: 110px;
    
}
.box1:hover{
    background-color: orange;
}
